SECRET_KEY=SUA_CHAVE_JWT_SUPER_SECRETA
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Mercado Pago OAuth
CLIENT_ID=SEU_MP_CLIENT_ID
CLIENT_SECRET=SEU_MP_CLIENT_SECRET
REDIRECT_URI=http://127.0.0.1:8000/mp-callback

# Segurança e Webhooks
MP_WEBHOOK_SECRET=SUA_CHAVE_DO_WEBHOOK_DO_MP
ADMIN_TOKEN=TOKEN_PARA_UPLOAD_CONHECIMENTO

# Ollama
OLLAMA_URL=http://localhost:11434/api/generate
